@model EntityFrameworkExample.Models.Barrel
@{
    ViewBag.Title = "Edit";
}

<center>
    <h2 class="secondaryColor">EDIT BARREL</h2>
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Radius, htmlAttributes: new { @class = "textLabel col-md-2 " })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Radius, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Radius, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "textLabel col-md-2 " })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.Label("Construction Material", htmlAttributes: new { @class = "textLabel col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ConstructionMaterial, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConstructionMaterial, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.Label("Current Location", htmlAttributes: new { @class = "textLabel col-md-2 " })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CurrentLocation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CurrentLocation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.Label("Date Created", htmlAttributes: new { @class = "textLabel col-md-2 " })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "ReadOnly" } })
                                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "textLabel col-md-2 " })
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Contents, new {
                               cols = "50",
                               rows = "10",
                               @tabindex = "0",
                               @class = "inputBox",
                               @align = "left",
                               @autofocus = "true",
                               @minlength = "5",
                               htmlAttributes = new {@class= "inputBox"}
                           })
                                @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-9">
                    <div class="form-group">
                        <button type="button" class="linkButton">@Html.ActionLink("Cancel", "Index")</button>
                        <input type="submit" value="Save Changes" class="majorActionButton" />
                    </div>
                </div>
            </div>
        </div>
       


    </div>
}