<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top backgroundPrimary">
        <div class="container">
            <div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="navHeader navbar-brand" style="padding-right:700px">
                            <div class="row">
                                <img src="~/Pictures/latest.png" width="40" height="40" />
                                Code the Barrel
                            </div> 
                        </li>
                        <li>
                            @Html.ActionLink("Barrels", "Index", "Barrel", new { area = "" }, new { @class = " navHeader" })
                        </li>
                        <li>
                            @Html.ActionLink("Cubes", "Index", "Cube", new { area = "" }, new { @class = " navHeader " })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
